/*
* Make Variable
*/
$color-dark:#3F3D56;
$color-blue-sky:#6c63ff;
$cw:white;

.tria-title {
    font-family: 'Marck Script', cursive;
    font-size: 55px;
    display: inline-block;
    padding-top: .3125rem;
    padding-bottom: .3125rem;
    margin-right: 6rem;
    line-height: inherit;
    white-space: nowrap;
    color: $color-dark;
}

.navbar-light .navbar-brand:focus,
.navbar-light .tria-title:hover {
    color: $color-dark;
}

.navbar-brand:focus,
.tria-title:hover {
    text-decoration: none;
}

.tria-navbar {
    margin-left: 15rem;

    .tria-link {
        margin: 0 30px;
        font-weight: bold;
        font-size: 20px;
    }
}

#tria-title-hero {
    padding: 200px 70px;

    p {
        line-height: 10px;
    }

    h1 {
        line-height: 50px;
    }
}

#tria-header {
    position: relative;
    height: 900px;
}

#tria-container {
    top: 0;
    position: absolute;
    z-index: -1;
}

#tria-skill {
    position: absolute;
    z-index: -1;
}

.tria-line {
    margin: 30px 0;
    border-radius: 5px;
    border: 5px solid $color-blue-sky;
    width: 100px;
}

#tria-image-skill {
    height: 200px;
}

#tria-skill-heroleft {
    margin-top: -250px;
}

#tria-card {
    box-shadow: 0px 2px 10px 0px #dfdfdf;
}

// Responsive Script

// laptop
@media only screen and (max-width: 1299px) {

    #tria-title-hero {
        padding: 200px 70px;

        p {
            line-height: normal;
        }

        h1 {
            line-height: normal;
        }
    }

    #tria-header {
        height: 850px;
    }
}

// Tablet
@media only screen and (max-width: 999px) {
    .tria-navbar {
        margin: 0;

        .tria-link {
            margin: 0;
        }
    }

    #tria-title-hero {
        padding: 50px 0px;

        p {
            line-height: normal;
            font-size: small;
        }

        h1 {
            line-height: normal;
            font-size: x-large;
        }
    }

    #tria-container {
        top: auto;
        position: static;
        z-index: 0;
    }

    #tria-header {
        height: 700px;
    }
}

// Smartphone
@media only screen and (max-width: 600px) {
    .tria-navbar {
        margin: 0;

        .tria-link {
            margin: 0;
        }
    }

    #tria-title-hero {
        padding: 0px;

        p {
            line-height: normal;
            font-size: small;
        }

        h1 {
            line-height: normal;
            font-size: x-large;
        }
    }

    #tria-container {
        top: auto;
        position: static;
        z-index: 0;
    }

    #tria-header {
        height: 450px;
    }

    #tria-skill-heroleft {
        margin-top: 50px;
    }
}