/*
* Make Variable
*/
$border-default: 4px solid black;
$bg-default:gold;
$cw:white;

.title {
    border: {
        top: $border-default;
        bottom: $border-default;
    }

    background-color: $bg-default;
    color:$cw;
    text-align: center;
    padding: 60px;
    font-family:Manjari;

    .slogan {
        font-size: 18px;
        color: $cw;
    }
}